/BolaQuicando/Packages
/BolaQuicando/Build
/BolaQuicando/Screenshots
/BolaQuicando/Intermediate
/BolaQuicando/Saved
/TheBall-Unity/TheBall/Deploy
/TheBall-Unity/TheBall/Library
/TheBall-Unity/TheBall/Temp
/Common/Art/archive3d.net
